<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}Default Value{%endblock%}</title>
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    
    
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">

</head>
<body>
    
    <div id="flash-data" style="display: none;">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <span class="flash-item" data-message="{{ message }}" data-category="{{ category }}"></span>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div id="flash-container"
        style="position: fixed; bottom: 20px; right: 20px; z-index: 1050; display: flex; flex-direction: column; gap: 10px; align-items: flex-end;">
    </div>
    <!-- <p>This will always be here</p> -->
    {% if current_user.is_authenticated %}
    <nav class="navbar navbar-expand-lg bg-secondary border-bottom border-secondary-subtle" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('dashboard')}}"><i class="bi bi-x-diamond notevergent-logo"></i> notevergent</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" id="main-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for('dashboard')}}"><i class="bi bi-clipboard-data dashboard-logo fs-5"></i> My Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('todo_page')}}"> <i class="bi bi-ui-checks-grid todo-logo fs-5"></i> Todo List</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle border border-primary-subtle rounded-pill custom-dropdown-link" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            
                            <i class="bi bi-person px-2 py-1 rounded-circle align-middle mx-2 fs-5 profile-logo"></i>
                            
                            {{ current_user.username }}
                        </a>
               

                        <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
                            <li><a class="dropdown-item border border-primary-subtle rounded-pill custom-dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="bi bi-person-fill-gear fs-5"></i> Profile</a></li> 
                            <li><a class="dropdown-item text-danger border border-primary-subtle rounded-pill custom-dropdown-item custom-dropdown-item-logout" href="{{url_for('logout')}}"> <i class="bi bi-box-arrow-right fs-5"></i> Logout</a></li>
                        </ul>
                       
                    </li>
                </ul>
               
            </div>
        </div>
    </nav>
    
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Profile Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                
                    <div class="container-fluid">
                        <div class="row g-2 p-2 rounded-3 justify-content-between align-items-center">
                            
                            View and Manage Your Account Details
                            <div class="col-12 rounded-3 py-3 d-flex justify-content-center align-items-center">
                                <i class="bi bi-person px-4 py-3 rounded-circle align-middle fs-1 profile-logo" ></i>
                            </div>

                            <div class="col-12 bg-secondary rounded-3 py-3">
                                <div class="col bg-secondary rounded-3 p-3 d-flex justify-content-start align-items-center">
                    
                                    <div class="me-2">
                                        <i class="bi bi-person px-2 py-1 rounded-2 align-middle fs-4 profile-logo"></i>
                                    </div>
                    
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0">Username</h6>
                                        <small class="text-body-secondary">{{ current_user.username }}</small>
                                    </div>
                    
                                </div>
                            </div>
                    
                            <div class="col-12 bg-secondary rounded-3 py-3">
                                <div class="col bg-secondary rounded-3 p-3 d-flex justify-content-start align-items-center">
                    
                                    <div class="me-2">
                                        <i class="bi bi-envelope px-2 py-1 rounded-2 align-middle fs-4 mail-logo"></i>
                                    </div>
                    
                                    <div class="d-flex flex-column justify-content-center">
                    
                    
                                        {% if current_user.email_verified == True%}
                                        <h6 class="mb-0">Mail <small><span
                                                    class=" badge rounded-pill text-bg-primary">Verified</span></small> </h6>
                    
                                        {% else %}
                                        <h6 class="mb-0">Mail <small><span
                                                    class="badge rounded-pill text-bg-danger ">Unverified</span></small></h6>
                    
                                        {%endif%}
                                        <small class="text-body-secondary text-break w-100">{{ current_user.email }}</small>
                                     
                    
                                    </div>
                    
                                </div>
                            </div>
                    
                            <div class="col-12 bg-secondary rounded-3 py-3">
                                <div class="col bg-secondary rounded-3 p-3 d-flex justify-content-start align-items-center">
                    
                                    <div class="me-2">
                                        <i class="bi bi-hash px-2 py-1 rounded-2 align-middle fs-4 public-id-logo"></i>
                                    </div>
                    
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0">Public Id</h6>
                                        <small class="text-body-secondary">{{ current_user.public_id }}</small>
                                    </div>
                    
                                </div>
                            </div>
                    
                            <div class="col-12 bg-secondary rounded-3 py-3">
                                <div class="col bg-secondary rounded-3 p-3 d-flex justify-content-start align-items-center">
                    
                                    <div class="me-2">
                                        <i class="bi bi-calendar px-2 py-1 rounded-2 align-middle fs-4 profile-logo"></i>
                                    </div>
                    
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0">Creation Date</h6>
                                        <small class="text-body-secondary utc-time">{{ current_user.created_at }}</small>
                                    </div>
                    
                                </div>
                            </div>
                    
                        </div>
                    </div>

                    <hr>
                    <div class="d-flex flex-column flex-sm-row gap-2 mt-3">
                        <a href="{{url_for('delete_confirm')}}" class="btn btn-danger">Delete Account</a>
                        <button id="create-token-btn" class="btn btn-success" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Change Password
                        </button>
                        <a href="{{url_for('logout')}}" class="btn btn-warning">Logout</a>
                    </div>
                    <hr>

                        <div class="collapse mt-4" id="collapseExample">
                            <div class="card card-body">
                                <div class="container">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-sm-8 col-md-8 col-lg-12 bg-secondary rounded-5 p-4 shadow text-light">
                                            <h1 class="text-center">Do you want to change your password?</h1>
                                            
                                            <form action="{{url_for('password_change')}}" method='POST'>
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                <input type="hidden" name="auth" value="{{ auth }}">
                                                <input type="hidden" name="username" value="{{ current_user.username }}">

                                                <div class="mb-4">
                                                    <label for="old-password" class="form-label">Old-Password:</label>
                                                    <input type="password" class="form-control" id="old-password" placeholder="Old-Password" name="old-password" required>
                                                    <i class="bi bi-eye-slash text-light fs-5 password-toggle"></i>
                                                </div>
                                            
                                                <div class="mb-4">
                                                    <label for="new-password" class="form-label">New-Password:</label>
                                                    <input type="password" class="form-control" id="new-password" placeholder="New-Password - Min 8 Characters" name="password"
                                                        minlength="8" maxlength="64" pattern="^[a-zA-Z0-9_!@#$%^&*()-+]+$" 
                                                title="Password must be 8-64 characters and can contain letters, numbers, and special characters."required>
                                                    <i class="bi bi-eye-slash text-light fs-5 password-toggle"></i>
                                                </div>
                                
                                                <div class="mb-4">
                                                    <label for="new-password-confirm" class="form-label">New Password Confirmation:</label>
                                                    <input type="password" class="form-control" id="new-password-confirm" placeholder="New Password Again"
                                                        name="password-confirm" required>
                                                </div>
                                
                                                <input class="btn btn-success w-100 mb-3" type="submit" value="Save New Password!">
                                            
                                            </form>
                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   

                </div>
                <div class="modal-footer">
                   
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    {% endif %}
    {% block breadcrumb %}{% endblock %}
    {%block content%}   {%endblock%}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
    </script>

    <script>    
        
     
        document.addEventListener("DOMContentLoaded", () => {
                const nav = document.getElementById("main-nav");

                if (nav) {
                // clear if on index page
                if (window.location.pathname === "{{ url_for('dashboard') }}") {
                    const extraBtn = document.getElementById("extra-todo-btn");
                    if (extraBtn) extraBtn.remove();
                    //return;
                }

                // add extra button on todo pages
                if (window.location.pathname === "{{ url_for('todo_page') }}" || window.location.pathname === "{{ url_for('todo_history') }}") {
                    // if already added, do not add again
                    if (document.getElementById("extra-todo-btn")) return;

                    const li = document.createElement("li");
                    li.className = "nav-item";
                    li.id = "extra-todo-btn";
                    li.innerHTML = `
            <a class="nav-link" href="{{ url_for('todo_history') }}">
                <i class="bi bi-clock-history fs-5 todo-history-logo"></i> Action History
            </a>`;
                    nav.appendChild(li);
                }

            }
            /*
                    const togglePassword = document.querySelector('#togglePassword');
                    const passwordField = document.querySelector('#password');

                    const togglePasswordConfirm = document.querySelector('#togglePasswordConfirm');
                    const passwordFieldConfirm = document.querySelector('#password-confirm');

                    if (togglePassword && passwordField) {


                        togglePassword.addEventListener('click', (e) => {
                            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                            passwordField.setAttribute('type', type);
                            e.target.classList.toggle('bi-eye');
                            e.target.classList.toggle('bi-eye-slash');
                        })
                    }

                    if (togglePasswordConfirm && passwordFieldConfirm) {
                        togglePasswordConfirm.addEventListener('click', (e) => {
                            const type = passwordFieldConfirm.getAttribute('type') === 'password' ? 'text' : 'password';
                            passwordFieldConfirm.setAttribute('type', type);
                            e.target.classList.toggle('bi-eye');
                            e.target.classList.toggle('bi-eye-slash');
                        })
                    }*/

                    const togglers = document.querySelectorAll('.password-toggle');

                    togglers.forEach(btn => {
                        btn.addEventListener('click', function (e) {

                            const parent = e.target.parentElement;
                            const input = parent.querySelector('input');

                            if (input) {
                                const isPassword = input.getAttribute('type') === 'password';
                                input.setAttribute('type', isPassword ? 'text' : 'password');

                                this.classList.toggle('bi-eye');
                                this.classList.toggle('bi-eye-slash');
                            } else {
                                console.error("Error: No input found for password toggle.", e.target);
                                console.error("parent: ", parent);
                            }
                        });
                    });
                     
                    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                    let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                        return new bootstrap.Tooltip(tooltipTriggerEl)
                    });
            });


        // will be done in the future
        
        
    </script>
    <script src="{{ url_for('static', filename='js/notify.js') }}"></script>
</body>
</html>